

.parent{
  background: #e0f1e7;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.card{
    background: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
width: 40vw;

  padding: 46px 30px;
  border-radius: 10px;

}


.names{
  display: flex;
  gap: 25px;
  width: 100%;
 
}
.names div{
  width: 100%;
}
input{
  height: 30px;
  width: 100%;
  border-radius: 5px;
}

label{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.radio-btn{
    display: flex;
  flex-direction: column;
}
.radio-btn div{
    
    padding: 4px;

}
.query-type{
  display: flex ;
  gap: 10px;  
}

.query-type div{
      border: 1px solid black;
      width: 100%;
      display: flex;
   padding-left:10px ;
      border-radius: 5px;

}
.query-type div input ,
.acknowledge  input{
  height: 15px;
  width: auto;
}

.option {
  display: flex;
gap: 5px;
align-items: center;
  

}
.option label{
      height: full;
     padding-top:10px ;

text-align: center;
}
.acknowledge {
  
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.finalBox{
  display: flex;
   
   align-items: center;
   gap: 5px;

}
textarea{
  height: 50px;border-radius: 5px;
  width: 100%;
}

button{
  background: #0c7d69;
  color: white;
  padding: 4px;
}
button:hover{
  background: #2bcfb1;
}
.heading{
  font-size: x-large;
  font-weight: bold;
}

.error{
  color: red;
}


.thankyou {
  position: fixed;
  top: 0;
  left: 0;
  background: #e0f1e7;
  height: 100vh;
  width: 100vw;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}



.thankyou h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

#closeButton {
    background: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}

#closeButton:hover {
    background: #d7382e;
}


.tq-card{
    background: #ffffff;

  border: 5px solid white;
  padding: 10%;

}

@media (min-width: 1440px) {
  .card {
    width: 40vw;
    padding: 60px;
  }
  .names {
    flex-direction: row;
    gap: 30px;
  }
}

@media (max-width: 795px) {
  .card {
    width: 90vw;
    padding: 20px;
  }
  .names {
    flex-direction: column;
    gap: 15px;
  }
}
